# ──────────────────────────────────────────────────────────────────────
# SCPN Control — Code Owners
# © 1998–2026 Miroslav Šotek. All rights reserved.
# License: GNU AGPL v3 | Commercial licensing available
# ──────────────────────────────────────────────────────────────────────
* @anulum/maintainers
