# ──────────────────────────────────────────────────────────────────────
# SCPN Control — Code Owners
# © 1998–2026 Miroslav Šotek. All rights reserved.
# License: MIT OR Apache-2.0
# ──────────────────────────────────────────────────────────────────────
* @anulum/maintainers
